.mainContainer {
  display: grid;
  grid-template-rows: [top-gutter] 1em [controls-header] auto [divider] 1em [project-details] auto [bottom-gutter] 1em;
  grid-template-columns: [left-gutter] 1em [main-content] 1fr [right-gutter] 1em;
  margin: 2rem 4rem;
}

.headerContainer {
  grid-column: main-content;
  grid-row: controls-header;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.projectDetailsContainer {
  grid-column: main-content;
  grid-row: project-details;
}

.statsContainer {
  grid-row: stats;
  grid-column: content;
}
