.appLayoutContainer {
  display: grid;
  grid-template-rows: [top-gutter] 1rem [controls-header] auto [divider] 1rem [project-details] auto [bottom-gutter] 1rem;
  grid-template-columns: [left-gutter] 1rem [main-content] 1fr [right-gutter] 1rem;
  margin: 2rem 4rem;
  max-width: 800px;
}

.headerContainer {
  grid-column: main-content;
  grid-row: controls-header;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.projectDetailsContainer {
  grid-column: main-content;
  grid-row: project-details;
}

.statsContainer {
  grid-row: stats;
  grid-column: content;
}
